body {
  display: inline-flex;
  background-color: silver;
}

nav {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  align-items: center;
  background-color: slategray;
  height: 50px;
  justify-content: space-between;
  display: inline-flex;
  padding: 10px;
  padding-left: 80px;
  padding-right: 80px;
  font-size: x-large;
}

.links {
  font-size: larger;
  word-spacing: 20px;
}

main {
  background-color: blanchedalmond;
  display: flex;
  width: 800px;
  flex-direction: column;
  margin-left: 100px;
  padding: 100px;
  padding-top: 170px;
}

div > main {
  padding-bottom: 450px;
}

.index {
  background-color: blanchedalmond;
  width: 500px;
  padding: 100px;
  padding-bottom: 167px;
  padding-top: 140px;
  margin-top: 50px;
  margin-right: 100px;
}

.images {
  display: flex;
  flex-direction: column;
}

.ball {
  background-color: blanchedalmond;
  width: 500px;
  padding-bottom: 167px;
  padding: 100px;
  padding-top: 140px;
  margin-top: 50px;
  margin-right: 100px;
}

.ski {
  background-color: blanchedalmond;
  width: 500px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  margin-right: 100px;
}

.project {
  background-color: blanchedalmond;
  width: 500px;
  padding: 100px;
  padding-bottom: 516;
  padding-top: 140px;
  margin-top: 50px;
  margin-right: 100px;
}

footer {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 700px;
  align-items: center;
  background-color: slategray;
  height: 220px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: x-large;
}