body {
  background-color: silver;
}

nav {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  align-items: center;
  background-color: slategray;
  height: 50px;
  justify-content: space-between;
  display: inline-flex;
  padding: 10px;
  padding-left: 80px;
  padding-right: 80px;
  font-size: x-large;
}

.links {
  font-size: larger;
  word-spacing: 20px;
}